<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js" integrity="sha512-w1Bktzax55ZbjW5Mqjz8+mKz4KqRjEUU35Dpq/ath29yskKqIGwNIHiFNp03m/OiJWDXvdQ1/g6aV+l4PeVO7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </head>
    
    <body>
        <h1>Art 151 Project 3 by Jake Campbell</h1>
        <h1>Which cat is a criminal?</h1>
        
        <script>

          function leftButton() {
            document.getElementById("2").disabled = true;
            document.getElementById("1").disabled = true;
            alert('You sure about that?')
            location.reload()
          }

          function rightButton() {
            document.getElementById("2").disabled = true;
            document.getElementById("1").disabled = true;
            alert('Bold choice')
            location.reload()
          }
      
          </script>
      
        <div class="container">
          <div>
             <img src="{{ catlink }}" width="600" height="600"> 
          </div>
          <button id="1" onclick="leftButton()"> This one for sure </button>
          <button id="2" onclick="rightButton()"> I bet its this one </button>
          <div>
            <img src="{{ catlink2 }}" width="600" height="600"> 
         </div>
        </div>
      
      </body>   
    
</html>